@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/modal';
@import '../../scss/atoms/button-container';

.confirm-modal {
  @extend %modal;
  position: fixed;
  min-width: 20 * $baseline;
  min-height: 2 * $baseline;
  max-height: 300px;
  padding: 2 * $spacer;
  margin: 0 0 $baseline;
  &.body {
    text-align: center;
  }
  .button-container {
    @extend %button-container;
  }

  button {
    @extend %anchor-button;
  }
}

.confirm-button {
  @include button();
  margin: $baseline;
  padding: $baseline $spacer;
  background: $palette-accent;
  color: $palette-lighter;
}

.confirm-overlay {
  @extend %overlay;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

