@import '../typography';
@import '../mixins';

@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin button(
  $border-radius: $border-radius-default,
  $states: true,
  $transition: true
) {
  @include reset-button();
  border: none;
  border-radius: $border-radius;
  outline: none;
  padding: $baseline;
  @if $transition {
    transition: $transition-default-all;
  }

  @if $states {
    &:hover {
      @if $transition {
        transition: $transition-default-all;
      }
    }

    &:focus {
      @include shadow-outline($fade: $baseline);
      outline: none;
      @if $transition {
        transition: $transition-default-all;
      }
    }
  }
}

%icon-button {
  @include button($states: false, $transition: false);
  background: transparent;
  padding: 0;
  margin-right: -$baseline;
  margin-top: -$baseline;
  margin-left: $baseline;

  i {
    display: block;
    width: $icon-dimension-default;
    height: $icon-dimension-default;
    fill: $palette-medium;

  }

  &:disabled i {
    fill: $palette-light;
  }

  &:enabled:hover i {
    fill: $palette-dark;
  }
}
