@import '../compulsory';
@import '../typography';

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before, [data-tooltip]:after {
  @extend p;
  position: absolute;
  bottom: 100%;
  right: 50%;
  display: inline-block;
  text-align: center;
  transform: translateX(50%);
  transition: $transition-default-all;
  opacity: 0;
  visibility: hidden;
  @include z-level(5);
}

$tooltip-background: $palette-dark;

// Tooltip body
[data-tooltip]:before {
  content: attr(data-tooltip);
  width: 70px;
  margin: $spacer 0 0 0;
  padding: $baseline $spacer;
  border-radius: $border-radius-default;
  background: $tooltip-background;
  color: $palette-white;
  word-wrap: break-word;
  white-space: pre-wrap;
}

// Tooltip pointer
[data-tooltip]:after {
  content: '';
  margin: 0 0 0 $baseline;
  border: $baseline solid transparent;
  border-top-color: $tooltip-background;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

// Position N, S, E or West
[data-tooltip]:before, [data-tooltip]:after, [data-tooltip-north]:before, [data-tooltip-north]:after { // [data-tooltip-north]
  top: auto;
  bottom: 100%;
}

[data-tooltip-south]:after, [data-tooltip-south]:before {
  top: 100%;
  bottom: auto;
}

[data-tooltip-east]:before, [data-tooltip-east]:after,
[data-tooltip-west]:before, [data-tooltip-west]:after {
  top: auto;
  bottom: 50%;
  transform: translateY(50%);
}

[data-tooltip-east]:before, [data-tooltip-east]:after {
  left: 100%;
  right: auto;
}

[data-tooltip-west]:before, [data-tooltip-west]:after {
  left: auto;
  right: 100%;
}

[data-tooltip]:before, [data-tooltip-north]:before {
  margin: 0 0 $spacer 0;
}

[data-tooltip-south]:before {
  margin: $spacer 0 0 0;
}

[data-tooltip-east]:before {
  margin: 0 0 0 $spacer;
}

[data-tooltip-west]:before {
  margin: 0 $spacer 0 0;
}

// Does nothing
[data-tooltip]:after, [data-tooltip-north]:after {
  border-color: transparent;
  border-top-color: $tooltip-background;
  margin: 0 0 0 $baseline;
}

[data-tooltip-south]:after {
  border: $baseline solid transparent;
  border-bottom-color: $tooltip-background;
  // margin:0 0 0 -$spacer;
}

[data-tooltip-east]:after, [data-tooltip-west]:after {
  border-color: transparent;
  margin: $baseline 0 0 0;
}

[data-tooltip-east]:after {
  border-right-color: $tooltip-background;
}

[data-tooltip-west]:after {
  border-left-color: $tooltip-background;
}

// Max widths for tooltips:

$start: 5;
$end: 35;

@for $i from $start through $end {
  $width: $i * 10;
  [data-tooltip-width="#{ $width }px"][data-tooltip]:before {
    width: #{ $width }px;
  }
}
