@import '../../scss/atoms/button';
@import '../../scss/mixins';
@import '../../scss/variables';

.button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  @include button();
  @include display-and-animate();
  &.hidden {
    @include hide-and-animate();
  }
}
