@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.button {
  @include button(100%);
  @include display-and-animate();
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 5%;
  left: 3%;
  background: $palette-accent;
  box-shadow: 0px 2px 5px $palette-shadow-default;
  &.hidden {
    @include hide-and-animate();
  }
  i {
    display: block;
    height: $icon-dimension-default;
    width: $icon-dimension-default;
    fill: $palette-light;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
