@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/panel-header';
@import '../../scss/organisms/forms';

$panel-min-width: 300px;

.panel-container {
  @include display-and-animate;
  &.hidden {
    @include hide-and-animate;
  }
}

.comment-panel {
  min-width: $panel-min-width;
  max-width: $panel-min-width;
  height: 100%;

  position: fixed;
  display: flex;
  flex-flow: column;

  right: 0;
  margin: 0;
  border: none;
  border-left: solid $palette-light 1px;
  background-color: $palette-lighter;
  box-shadow: 0 0 10px $palette-light;
}

.panel-header {
  @extend %panel-header;
  cursor: unset;
}

.panel-body {
  display: flex;
  flex-flow: column;
  flex: none;
  min-height: 0; // Firefox shrink bug
  justify-content: flex-start;
  overflow-y: scroll;
  padding: $baseline $spacer;
}

.panel-body, .panel-header {
}

.thread-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0; // Firefox shrink bug
  overflow-y: scroll;
  // Make sure box-shadow is not cut-off
  padding: $baseline;
  margin: 0 (-$baseline);
}

.comment-form {
  @extend %form;
  margin-top: $baseline;
  textarea {
    margin-top: $spacer;
  }
}
