@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/organisms/panel';
@import '../../scss/organisms/forms';

$panel-min-width: 350px;

.panel-container {
  @include display-and-animate;
  &.hidden {
    @include hide-and-animate;
  }
}

.comment-panel {
  min-width: $panel-min-width;
  max-width: $panel-min-width;
  height: 100%;

  position: fixed;
  display: flex;
  flex-flow: column;

  right: 0;
  margin: 0;
  border: none;
  border-left: solid $palette-light 1px;
  background-color: $palette-lighter;
  box-shadow: 0 0 10px $palette-light;
}

.panel-header {
  @extend %panel-header;
  cursor: unset;
}

.panel-body {
  @extend %panel-body;
  overflow-y: hidden;
}

.thread-container {
  @extend %panel-body;
  flex-grow: 1;
  flex-shrink: 1;
  // Make sure box-shadow is not cut-off
  padding: $baseline;
  margin: 0 (-$baseline);
}

.comment-form {
  @extend %form;
  margin-top: $baseline;
  textarea {
    margin-top: $spacer;
  }
}

.close-mobile-mode {
  @extend %icon-button;
  @include display-and-animate();
  @include z-level(3);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78px;
  padding: $baseline $spacer;
  box-shadow: 0 2px 5px $palette-medium;
  border-radius: 25px;
  background: $palette-lighter;
  top: 5%;
  right: 5%;

  &.buttonHidden{
    display: none;
  }

  h3 {
    font-variant-numeric: tabular-nums;
    margin-left: 3px;
  }

}
