@import '../../scss/compulsory';

@import '../../scss/atoms/button';

.developer-label {
  position: absolute;
  left: -($baseline + 2px);
  font-size: $font-size-small;
  writing-mode: tb;
  color: $palette-accent;
}

$rotation: 30;

.badge-container {
  $dimension: $baseline * 3;

  position: absolute;
  top: $baseline * 1.5;
  left: $baseline * 1.5;
  display: flex;
  margin-right: $spacer;
  z-index: 1;

  .badge {
    width: $dimension;
    height: $dimension;
    background: $palette-badge-background;
    border-radius: 1px;
    transform: rotate(#{ $rotation }deg);
  }
}
