@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.button {
  @include button(100%);
  cursor: pointer;
  margin-top: $spacer;
  padding: $baseline;
  box-shadow: 0 2px 5px $palette-medium;
  background: $palette-white;
  &.active {
    visibility: visible;
    @include button(2px);
    color: $palette-dark;
    background: $palette-accent;
    box-shadow: 0 3px 5px $palette-light;

  }
  &.selected {
    background: $palette-medium;
  }
  i {
    display: block;
    width: $icon-dimension-default;
    height: $icon-dimension-default;
    margin-left: auto;
    margin-right: auto;
    svg {
      $target-icon-dimension: $icon-dimension-default;
      width: $target-icon-dimension;
      height: $target-icon-dimension;
      margin-left: auto;
      margin-right: auto;
      fill: $palette-dark;
      transition: fill $transition-default-tail
    }

    &:hover svg {
      fill: $palette-black;
      transition: fill $transition-default-tail
    }

    &:focus svg {
      fill: $palette-accent;
      transition: fill $transition-default-tail
    }
  }
}

