@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.button {
  @include button(2px);
  @include display-and-animate();
  position: fixed;
  bottom: 12%;
  left: 3%;
  $dimension: 30px;
  height: $dimension;
  padding: $baseline $spacer;
  box-shadow: 0 3px 5px $palette-light;
  background: $palette-accent;
  &.active {
    background: $palette-dark;
  }
  i {
    display: block;
    width: $icon-dimension-default;
    height: $icon-dimension-default;
    margin-left: auto;
    margin-right: auto;
    color: $palette-lighter;
    font-style: normal;
  }
}
