@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.panel-container {
  @include display-and-animate($default-animation-duration);
  &.hidden {
    @include hide-and-animate($default-animation-duration);
  }
}

.panel {
  width: 40vh;
  height: 90vh;
  position: fixed;
  display: flex;
  background-color: $palette-light;
  border: solid $palette-medium 1px;
  box-shadow: 0 2px 10px $palette-shadow-default;
}

.panel-header {
  display: flex;
  justify-content: flex-end;
  height: 5%;
  width: 100%;
  background-color: $palette-medium;
  cursor: grab;
}

.panel-header button {
  @include button();
  background: transparent;
  i {
    display: block;
    width: $icon-dimension-default;
    height: $icon-dimension-default;
    fill: $palette-dark;
  }
}
