@import '../../scss/atoms/button';

.panel {
  width: 20%;
  height: 80vh;
  position: fixed;
  padding: 5px;
  background-color: grey;
}

.panelButton {
  @extend button
}

.hidden {
  display: none;
}
