@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.reactions {
  display: flex;
  margin-top: $spacer;
}

$toggled-inset-shadow: inset 0 1px 20px;

.reaction {
  @include reset-button;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: $baseline;
  border: 1px solid $palette-light;
  outline: none;
  box-shadow: $toggled-inset-shadow transparent;
  background: $palette-white;
  overflow: visible;
  transition: $transition-default;
  transition-property: box-shadow;
}

$symbol-height: 1em;

.emoji {
  height: $symbol-height;
  width: 2ch;
  display: inline-block;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.reaction:first-of-type {
  border-right: none;
  border-bottom-left-radius: $border-radius-default;
  border-top-left-radius: $border-radius-default;
}

.reaction:last-of-type {
  border-left: none;
  border-bottom-right-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;
}

.counter {
  display: inline-block;
  margin-left: 0;
  line-height: $symbol-height;
  transition: $transition-default;
}

.toggled {
  box-shadow: $toggled-inset-shadow $palette-light;
  transition: $transition-default;

  .counter {
    margin-left: 1ch;
    transition: $transition-default;
  }
}

.fire {
  background-image: url('/emojis/fire.png');
}

.up {
  background-image: url('/emojis/thumbs-up.png');
}

.down {
  background-image: url('/emojis/thumbs-down.png');
}
