@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

.reactions {
  border-collapse: collapse;
}

.reaction { // TODO: whole order
  @include reset-button;
  width: 90px; // TODO: no hardcoded
  height: 30px; // TODO: ^
  margin: 0;
  margin-bottom: 5px; // TODO: demo separation
  padding: 0;
  border: 1px solid $palette-light;
  outline: none;
  background: $palette-white;
  overflow: visible;
}

.emoji {
  height: 1em;
  width: 2ch;
  display: inline-block;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.reaction:first-of-type {
  border-right: none;
  border-bottom-left-radius: $border-radius-default;
  border-top-left-radius: $border-radius-default;
}

.reaction:last-of-type {
  border-left: none;
  border-bottom-right-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;
}

.counter {
  margin-left: 1ch;
  display: inline-block;
}

.fire {
  background-image: url('/emojis/fire.png');
}

.up {
  background-image: url('/emojis/thumbs-up.png');
}

.down {
  background-image: url('/emojis/thumbs-down.png');
}

.toggled {
  background-color: $palette-medium;
}
