@import '../../scss/compulsory';
@import '../../scss/animations';

@import '../../scss/atoms/button';
@import '../../scss/atoms/modal';

@import '../survey-panel/survey-panel.scss';

.intro-modal {
  @extend %modal;

  @include media-query(wide-screens) {
    width: 400px;
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin: 0;
  border-top-right-radius: $border-radius-default;
  border-top-left-radius: $border-radius-default;
  background-color: $palette-lighter;
  padding: $baseline;

  button {
    @extend %icon-button;
    margin: 0;
  }
}

.step-buttons {
  width: auto;
  display: flex;
  flex: 0;
  padding: 0 $padding;

  .next-button {
    transform: rotateY(180deg);
    margin-left: auto;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  button {
    @extend %icon-button;
    margin: 0;
  }
}

.skip-button-container {
  display: flex;
  justify-content: center;
}

.skip-button {
  @include reset-button();
  margin-bottom: $spacer;
  color: $palette-medium;
  font-weight: 600;

  &:hover {
    color: $palette-dark;
  }
}

.done-button {
  @include button(2px);
  background: $palette-accent;
  color: $palette-lighter;
  width: fit-content;
  align-self: center;
}

.hidden {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.modal-content {
  @extend %content;
}

.event-modal {
  outline: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.overlay {
  @extend %overlay;
  &.first {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

[animation-pulse="true"] {
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgba($palette-accent, 0.3);
}
