@import '../scss/compulsory';
@import '../scss/atoms-organisms/button';

.slack-sign-button {
  @include reset-button;

  display: flex;
  position: relative;
  top: 1px;
  margin-right: $spacer;

  img {
    height: 31px;
    width: auto;
  }
}
