@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/modal';
@import '../../scss/atoms/button-container';

.drag-helper {
  @include z-level(1);
}

.add-button-container {
  margin-top: 10px;
}

.add-button {
  @extend %anchor-button;
  background: $palette-white;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

.slack-button {
  align-items: center;
  display: flex;
  background: #00c2cc;
  justify-content: center;

  span {
    color: white;
  }

  // Visually centered vertically
  svg {
    fill: white;
    position: relative;
    height: 17px;
    width: 17px;
    top: 1.1px;
    margin: 3.5px;
  }
}

.overlay {
  @extend %overlay;
  background-color: rgba($palette-dark, 0.3);
}

// TODO: abstract to upper levels
.modal {
  @extend %modal;
  @include shadow-outline();
  justify-content: space-between;
  min-width: 40vw;

  .button-container {
    @extend %button-container;
  }

  button {
    @extend %anchor-button;
  }
}

