@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/modal';
@import '../../scss/atoms/button-container';

.drag-helper {
  @include z-level(1);
}

.add-button-container {
  margin-top: 10px;
}

.add-button {
  @include button();
  background: $palette-light;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

.modal {
  @extend %modal;
  @include shadow-outline();
  justify-content: space-between;
  min-width: 40vw;

  .button-container {
    @extend %button-container;
  }

  button {
    @extend %anchor-button;
  }
}

.overlay {
  @extend %overlay;
  background-color: rgba($palette-dark, 0.3);
}

