@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

@import '../../scss/atoms/button';

.drag-helper {
  @include z-level(1);
}

.add-button-container {
  margin-top: 10px;
}

.add-button {
  @include button();
  background: $palette-light;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

// TODO: these styles to be abstracted to organisms later

.overlay {
  @include z-level(2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($palette-dark, 0.3);
  &.first {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

// TODO: abstract to upper levels
.modal {
  @include z-level(3);
  @include shadow-outline();
  outline: none; // TODO: refactor this
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-width: 40vw;
  max-width: 500px;
  padding: $spacer * 2;
  border-radius: $border-radius-default;
  background-color: $palette-lighter;

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: $spacer;
  }

  button {
    @extend %anchor-button;
  }
}

