@import '../../scss/compulsory';

@import '../../scss/atoms/button';

.button {
  @include button(100%);
  @include display-and-animate();
  position: fixed;
  bottom: 5%;
  left: 3%;
  $dimension: 30px;
  width: $dimension;
  height: $dimension;
  padding: 2px;
  box-shadow: 0 2px 5px $palette-medium;
  background: $palette-accent;
  &.hidden {
    @include hide-and-animate();
  }
  i {
    display: block;
    width: $icon-dimension-default;
    height: $icon-dimension-default;
    margin-left: auto;
    margin-right: auto;
    fill: $palette-lighter;
  }
}
