@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/anchor';

.route-container {
  position: relative;
  max-height: 500px; // Some hardcoded value needed
  transition: $transition-default-all;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    background-color: $palette-lighter;
    transition: opacity $transition-default-tail;
    opacity: 0;
  }

  * > {
    opacity: 1;
  }

  &.hidden {
    $height: $spacer * 3; // 2 for padding, 1 for line
    min-height: $height;
    max-height: $height;

    > * {
      opacity: 0;
      display: none;
      transition: opacity ease-in 0.5s;
    }

    &:after {
      content: 'Click to see comments on other pages';
      height: 100%;
      width: 100%;
      transition: opacity $transition-default-tail;
      opacity: 1;
      cursor: pointer;
    }
  }

  button {
    @extend %anchor-button;
    margin-bottom: $baseline;
    background: $palette-white;
  }

  &:focus {
    outline: none;
  }

}
