@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

@import './create.scss';

.runner-view-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: $spacer * 3;
  }
}

.form-create-runner {
  @extend .form-create;
}

.inner-container {
  @extend .create-view;
}

.runner-table {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: $border-radius-default;
}

.table-body {
  display: flex;
  flex-flow: column-reverse;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 10px $palette-shadow-default;
  margin-bottom: $baseline;

  &.table-header {
    font-weight: 600;
  }

  &.default {
    background: $palette-lighter;
  }
}

.cell {
  display: flex;
  flex-grow: 1;
  padding: $spacer;

  &.status {
    flex-grow: 2;
  }

  &.status-fail {
    color: $palette-error;
  }
}

.delete-button {
  @extend %anchor-button;

  &.hidden {
    display: none;
  }
}

.timestamp {
  font-size: $font-size-small;
}
