@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/atoms/button';

.top {
  display: flex;
  justify-content: flex-end;

  padding: 2em;
  border-bottom: solid 1px $palette-medium;
  box-shadow: 0 0 10px $palette-shadow-default;
}

.create-button {
  @include button();
  background-color: $palette-accent;
  color: $palette-light;
  padding: 0.5em;
}

.instance-container {
  display: flex;
  flex-flow: column;
  margin: 1em;
}

.instance {
  border: solid 1px $palette-medium;
  box-shadow: 0 0 5px $palette-shadow-default;
  padding: 1em;
}
