@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';
@import '../../scss/typography';

// Placeholders

%anchor-button {
  @include button();
  display: inline-block;
  text-decoration: none;
  align-self: end;
  padding: $baseline $spacer;
  box-shadow: 0 2px 5px $palette-shadow-light;
  color: $palette-dark;
}

%accent {
  box-shadow: 0 2px 5px $palette-shadow-default;
  background: $palette-accent;
  color: $palette-lighter;
}

%anchor-button-accent {
  @extend %anchor-button;
  @extend %accent;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $spacer * 3;
  box-shadow: 0 0 10px $palette-shadow-light;
}

.create-button {
  @extend %anchor-button-accent;
  align-self: flex-end;
}

.instances-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: $spacer * 2;

  h2 {
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 2;
  }
}

.instance-card {
  flex: 1;
  padding: $spacer;
  margin: $spacer;
  border-radius: $border-radius-default;
  box-shadow: 0 0 10px $palette-shadow-default;

  h5 {
    text-transform: capitalize;
    align-self: start;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: $spacer;

    > *:not(:first-of-type) {
      margin-left: $spacer;
    }
  }

  a, button {
    @extend %anchor-button;

    &.accent {
      @extend %accent;
    }
  }
}
