@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

%label {
  display: inline-block;
  margin-right: $spacer;
}

.dev-label {
  @include shadow-outline(0px);
  @extend %label;
  padding: .5 * $baseline $spacer;
  border-radius: $border-radius-default;
  font-size: $font-size-small;
  background-color: $palette-white;
  color: $palette-accent;
}

$rotation: 30;

.badge-container {
  @extend %label;

  .badge {
    $dimension: $baseline * 1.5;
    width: $dimension;
    height: $dimension;
    background: $palette-accent;
    border-radius: 1px;
    transform: rotate(#{ $rotation }deg);
  }
}
