@import '../../scss/compulsory';

@import '../../scss/atoms-organisms/button';
@import '../../scss/atoms-organisms/forms';

@import '../survey-panel/survey-panel.scss';
@import '../comment/comment.scss';

$panel-min-width: 300px;

.comment-panel {
  min-width: $panel-min-width;
  max-width: $panel-min-width;
  height: 100%;

  position: fixed;
  display: flex;
  flex-flow: column;

  right: 0;
  margin: 0;
  border: none;
  border-left: solid $palette-light 1px;
  background-color: $palette-lighter;
  box-shadow: 0 0 10px $palette-light;
}

.panel-header {
  @extend .panel-header;
  cursor: unset;
}

.panel-body {
  @extend .panel-body;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
}

.thread-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0; // Firefox shrink bug
  overflow-y: scroll;
  // Make sure box-shadow is not cut-off
  padding: $baseline;
  margin: 0 (-$baseline);
}

.comment-form {
  @extend %form;
  margin-top: $baseline;
  textarea {
    margin-top: $spacer;
  }
}
