@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

@import '../survey-panel/survey-panel.scss';
@import '../comments/comments.scss';

$panel-min-width: 300px;

.comment-panel {
  min-width: $panel-min-width;
  max-width: 50%;
  height: 100%;

  position: fixed;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;

  right: 0;
  margin: 0;
  border: none;
  border-left: solid $palette-light 1px;
  background-color: $palette-lighter;
  box-shadow: 0 0 10px $palette-light;
}

.panel-header {
  @extend .panel-header;
  cursor: unset;
}

.panel-body {
  @extend .panel-body;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.show-comments, .submit-comment {
  @include button($transition: false);
  padding: $baseline $spacer;
}

.show-comments {
  flex-shrink: 0;
  margin-bottom: $baseline;
  background-color: $palette-light;
}

.comment-container {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  // Make sure box-shadow is not cut-off
  padding: $baseline;
  margin: 0 (-$baseline);
}

.comment-form {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  margin-top: $baseline;

  textarea {
    @extend .comment;
    display: block;
    max-width: 100%;
    min-width: $panel-min-width;
    min-height: 3em;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 2px 10px $palette-shadow-default;
    }
  }

  .submit-comment {
    margin-top: $baseline;
    padding: $baseline $spacer;
    align-self: flex-end;
    background: $palette-accent;
    color: $palette-lighter;
  }
}
