@import '../../scss/compulsory';

@import '../../scss/atoms/view-container';
@import '../../scss/atoms/button';
@import '../../scss/atoms/button-container';
@import '../../scss/atoms/generic_input';
@import '../../scss/organisms/forms';
@import '../../scss/organisms/toggle-buttons';

.center-center-block {
  @extend %center-view;
}

.dashboard-button, .new-runner-button {
  @extend %anchor-button;
}

.create-view {
  @extend %view-container;

  h2 {
    margin-bottom: $spacer;
  }

  @include media-query(mobile) {
    padding: $spacer * 2;
    box-shadow: none;
    background: inherit;
  }
}

.selection-tabs {
  @extend %toggle-container;
  margin-top: unset;
  button {
    @extend %toggle-button;
    margin-top: $baseline;
    margin-bottom: $spacer;

    &.current {
      @extend %toggled;
    }
  }
}

.form-create {
  @extend %form;
  line-height: 2;

  label {
    margin-bottom: $spacer;
    display: block;
  }

  input:not([type="submit"]), select {
    @extend %generic-input;

  }

  select {
    background: $palette-white;
    appearance: none;
    margin-right: $baseline;
  }
  .button-container {
    @extend %button-container;
  }

  button[type="submit"] {
    @extend %anchor-button-accent;
    align-self: flex-end;
  }
}

.busy * {
  cursor: wait;
}

.passphrase-field {
  align-items: center;
  display: flex;

  & input {
    margin: 0;
  }

  .show-button {
    @extend %icon-button;
    margin-top: 7px;
    padding-bottom: 4px; // pad to make same height as input
    position: absolute;
    right: $spacer;

    &.toggled i {
      fill: $palette-dark;
    }
  }
}

.inline-button {
  display: flex;
  align-items: baseline;

  select {
    flex-shrink: 1;
    flex-grow: 0;
  }
  a {
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.hidden {
  display: none;
}

%inline-button {
  @extend %anchor-button;
  margin-right: $baseline;
}

.login-with-github-button {
  @extend %inline-button;
  display: flex;
  width: 100%;
  margin-bottom: $spacer;
  padding: $spacer $baseline;
  justify-content: center;
  background-color: $palette-white;
}

.logout-button {
  @extend %inline-button;
}

.github-logo {
  height: $baseline * 3;
  padding-right: $baseline;
}
