@import '../../scss/compulsory';

@import '../../scss/organisms/forms';
@import '../../scss/atoms/button';

@import '../dashboard-view/dashboard-view';
@import '../../feedbacker-components/reactions/reactions';

.center-center-block {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  > * {
    display: flex;
    flex-flow: column;
    flex: 1;
  }
}

.dashboard-button, .new-runner-button {
  @extend %anchor-button;
}

.create-view {
  max-width: 700px;
  padding: $spacer * 4;
  border-radius: $border-radius-default;
  box-shadow: 0 2px 10px $palette-shadow-default;
  background-color: $palette-lighter;

  h2 {
    margin-bottom: $spacer;
  }
}

.selection-tabs {
  @extend .reactions;
  button {
    @extend .reaction;
    margin-top: $baseline;
    margin-bottom: $spacer;

    &.current {
      @extend .toggled;
    }
  }
}

.form-create {
  display: flex;
  flex-shrink: 0;
  flex-flow: column;
  line-height: 2;

  label {
    margin-bottom: $spacer;
  }

  input:not([type="submit"]), select {
    @extend %generic-input;
  }

  select {
    background: $palette-white;
    appearance: none;
    margin-right: $baseline;
  }

  button[type="submit"] {
    @extend %anchor-button-accent;
    align-self: flex-end;
  }
}

.inline-button {
  display: flex;
  align-items: baseline;

  select {
    flex-shrink: 1;
    flex-grow: 0;
  }
  a {
    flex-shrink: 0;
    flex-grow: 1;
  }
}
