@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.open-button {
  @include button(2px);
  @include display-and-animate();
  position: fixed;
  bottom: 20%;
  left: 3%;
  padding: $baseline $spacer;
  box-shadow: 0 2px 5px $palette-medium;
  color: $palette-lighter;
  background: $palette-accent;
  &.hidden {
    @include hide-and-animate();
  }
}
