@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

@import '../survey-panel/survey-panel.scss';

.intro-modal {
  @include z-level(3);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 40vw;
  height: 40vh;
  background-color: $palette-lighter;
  border: solid 2px $palette-light;
}

.modal-header {
  @extend .panel-header;
  width: auto;
  border-bottom: none;
}

.step-buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex: 0;

  button {
    @include button($states: false);
    background: transparent;

    i {
      display: block;
      width: $icon-dimension-default;
      height: $icon-dimension-default;

    }
  }
}

.skip-button {
  @include button();
  font-weight: 600;
}

.next-button {
  transform: scaleX(-1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.done-button {
  @include button(2px);
  background: $palette-accent;
  color: $palette-lighter;
  width: fit-content;
  align-self: center;
}

.modal-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  padding: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include z-level(2);
  &.first {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
