@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/organisms/panel';

.panel-container {
  @include display-and-animate();
  &.hidden {
    @include hide-and-animate();
  }
}

.survey-panel {
  max-height: 80vh;
}

.panel {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 500px;
  max-width: 80vw;
  border: solid $palette-light 1px;
  border-radius: $border-radius-default;
  box-shadow: 0 2px 10px $palette-shadow-light;
  background-color: $palette-lighter;
}

.panel-header {
  @extend %panel-header;
}

.panel-body {
  @extend %panel-body;
}

.edit-container {
  padding: $spacer;
}

