@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

.thread {
  .comment {
    width: 80%;
    &:first-of-type {
      width: 100%;
    }
  }

  .comment-form {
    width: 80%;
    color: $palette-dark;
  }
}

.show-thread {
  @include button();
  margin: -20 * $spacer auto;
}
