@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/atoms/button';

@import '../survey-panel/survey-panel.scss';
@import '../comment/comment.scss';

$panel-min-width: 300px;

.comment-form {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  margin-top: $baseline;

  textarea {
    @extend .comment;
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 3em;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 2px 10px $palette-shadow-default;
    }
  }

  .submit-comment {
    @include button();
    align-self: flex-end;
    margin-top: $baseline;
    padding: $baseline $spacer;
    background: $palette-accent;
    color: $palette-lighter;
  }
}
