@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

@import '../../scss/atoms-organisms/forms';
@import '../../scss/atoms-organisms/button';
@import '../../scss/atoms-organisms/modal';

@import '../comment/comment.scss';

.username-modal {
  @extend %modal;
}

.content {
  @extend %content;
  margin-top: 5 * $baseline;
}

.modal-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  padding: 0 $padding $padding;

  input[type="text"] {
    @extend .comment;
    box-sizing: border-box;
    min-width: 100%;
    border: none;
  }

  input[type="submit"] {
    @extend %submit-button;
    margin-top: $baseline;
  }
}

.username-overlay {
  @extend %overlay;
}
