@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/modal';
@import '../../scss/atoms/generic_input';
@import '../../scss/organisms/forms';

.username-modal {
  @extend %modal;
}

.content {
  @extend %content;
  margin-top: 5 * $baseline;
}

.modal-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  padding: 0 $padding $padding;

  input[type="text"] {
    @extend %generic-input;
    box-sizing: border-box;
    min-width: 100%;
    border: none;
  }

  input[type="submit"] {
    @extend %submit-button;
    margin-top: $baseline;
  }
}

.username-overlay {
  @extend %overlay;
}
