@import '../../scss/compulsory.scss';

@import '../../scss/atoms/button';
@import '../../scss/atoms/checkbox';

@import '../survey-panel/survey-panel.scss';
@import '../comment/comment.scss';
@import '../comment-panel/comment-panel.scss';

.comment-form {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  margin-top: $baseline;

  textarea {
    @extend .comment;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 3em;
    max-height: $panel-min-width;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 2px 10px $palette-shadow-default;
    }
  }

  .button-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow: 0;

    .anonymous-check {
      margin-right: auto;

      input[type="checkbox"] {
        @extend %checkbox;
        & + label {
          &:before {
            background-color: $palette-white;
            border-color: $palette-dark;
            border: 1px solid;
            // For correct center align
            top: -1px;
          }
        }

        &:checked + label {
          &:before {
            border-color: $palette-accent;
          }
        }
      }

      label {
        color: $palette-dark;
      }
    }

    .submit-comment {
      margin-top: 0;
      margin-left: $baseline;
    }
  }
}
