@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/functions';
@import '../../scss/atoms/button';

.option {
  display: flex;
  margin: $spacer;
}

$toggled-inset-shadow: inset 0 1px 20px;
$option-border: 1px solid $palette-light;
.option-answer {
  @include reset-button;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: $baseline;
  border: $option-border;
  border-right: 0;
  outline: none;
  box-shadow: $toggled-inset-shadow transparent;
  background: $palette-white;
  overflow: visible;
  transition: $transition-default-all;
  transition-property: box-shadow;
}

.option-answer:first-of-type {
  border-bottom-left-radius: $border-radius-default;
  border-top-left-radius: $border-radius-default;
}

.option-answer:last-of-type {
  border-right: $option-border;
  border-bottom-right-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;
}

.toggled {
  box-shadow: $toggled-inset-shadow $palette-light;
  transition: $transition-default-all;
}

.next-question {
  float: right;
}

.previous-question {
  float: left;
}
