@import '../../scss/compulsory';

@import '../../scss/atoms/button';
@import '../../scss/atoms/button-container';

.instance-card {
  flex: 1;
  padding: $spacer;
  margin: $spacer;
  border-radius: $border-radius-default;
  box-shadow: 0 0 10px $palette-shadow-default;

  &:not(:first-of-type) {
    margin-top: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse wrap;

    h5 {
      margin-right: auto;
    }

  }

  .header-button-container {
    display: flex;
    justify-content: space-between;

    .start-or-stop {
      top: 1px;
    }

    button {
      @extend %icon-button;
      margin-left: $spacer;

      &:focus {
        svg {
          fill: $palette-dark;
        }
      }
    }
  }

  .button-container {
    @extend %button-container;

    button {
      @extend %icon-button;
    }

    a {
      @extend %anchor-button;

      &.accent {
        @extend %accent;
      }
    }
    & a:only-child {
      margin-left: auto;
    }

  }

  .source-link {
    margin-left: auto;
  }

}

.slack-share i {
  $dimension: 20px;
  height: $dimension;
  width: $dimension;
  margin-right: $spacer;

  // Visually centered vertically
  &svg {
    position: relative;
    top: -1px;
  }
}
