@import '../../scss/compulsory';

@import '../../scss/atoms/view-container';
@import '../../scss/atoms/button';
@import '../../scss/atoms/button-container';
@import '../../scss/atoms/generic_input';
@import '../../scss/organisms/forms';

.runner-view-container {
  @extend %center-view;
}

.inner-container {
  @extend %view-container;

  line-height: 1.5;

  h3 {
    margin-bottom: $spacer;
  }
}

.runner-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: $spacer;
}

.dashboard-button {
  @extend %anchor-button;
}

.form-create-runner {
  @extend %form;
  line-height: 2;

  label[for="tag"] {
    margin-bottom: 0;
  }

  input[type="text"] {
    @extend %generic-input;
  }

  .button-container {
    @extend %button-container;
  }

  button[type="submit"] {
    @extend %anchor-button-accent;
    align-self: flex-end;
  }
}

.runners {
  display: flex;
  flex-flow: column-reverse;
}

.runner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $baseline $spacer;
  $border: 1px solid $palette-light;
  border: $border;
  border-bottom: 0;
  background-color: transparent;

  &:last-of-type {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
  }

  // Actually last, as reversed
  &:first-of-type {
    margin-bottom: $baseline;
    border-bottom: $border;
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }

  &.fail {
    background: $palette-error-light;
  }

  &.pending {
    background: rgba($palette-light, 0.5);
    cursor: progress;
  }

  &.default {
    padding: $spacer,
  }

  button {
    cursor: inherit;
  }
}

.runner-content {
  display: flex;
  flex: 1;

  &.delete {
    flex: 0;
    justify-content: flex-end;
  }
}

.delete-button {
  @include button();
  box-shadow: none;

  &:enabled:hover {
    box-shadow: 0 2px 10px $palette-shadow-default;
  }

  &.hidden {
    display: none;
  }
}

.timestamp {
  font-size: $font-size-small;
}
