// TODO: refactor to new import style
@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

@import '../../scss/atoms/button';
@import '../../scss/atoms/anchor';

.route-container {
  position: relative;
  max-height: 500px; // Some hardcoded value needed
  transition: $transition-default-all;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    background-color: $palette-lighter;
    transition: opacity $transition-default-tail;
    opacity: 0;
  }

  * > {
    opacity: 1;
  }

  &.hidden {
    $height: $spacer * 3; // 2 for padding, 1 for line
    min-height: $height;
    max-height: $height;

    > * {
      opacity: 0;
      display: none;
      transition: opacity ease-in 0.5s;
    }

    &:after {
      // TODO: make backdrop blur effect when surveys merged
      content: 'Click to see comments on other pages';
      height: 100%;
      width: 100%;
      transition: opacity $transition-default-tail;
      opacity: 1;
      cursor: pointer;
    }
  }

  button {
    // TODO: refactor to @extend %anchor-button;
    @include button();
    display: inline-block;
    text-decoration: none;
    align-self: end;
    margin-bottom: $baseline;
    padding: $baseline $spacer;
    box-shadow: 0 1px 5px $palette-shadow-light;
    color: $palette-dark;
    background: $palette-white;
  }
}
