// Break cascade from outside css
[data-feedback-react-root], .feedback-app-container {
  all: initial;
}

// Normalize encapsulated
[data-feedback-react-root], .feedback-app-container {
  @import '../../node_modules/node.normalize.scss/normalize';
}

// Import all project partials
@import './variables';
@import './typography';
@import './mixins';

// Set box sizing
[data-feedback-react-root] {
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

[data-feedback-react-root='false'] {
  display: none;
}

// Ensure that feedbacker tool is always on top
.feedback-app-container {
  @include z-level(1);
  position: absolute;
  top: 0;
  left: 0;
}
