$palette-white: white;
$palette-lighter: #fdfdfd;
$palette-light: #d8d8d8;
$palette-medium: #b7b8ba;
$palette-grey: #777777;
$palette-dark: #444444;
$palette-darker: #222222;
$palette-black: black;
$palette-accent: #00bfc9;

$palette-shadow-default: rgba($palette-medium, 0.8);
$palette-shadow-light: rgba($palette-light, 9);
