$palette-white: white;
$palette-lighter: #fdfdfd;
$palette-light-medium: #d8d8d8;
$palette-light: #d8d8d8;
$palette-medium: #b7b8ba;
$palette-grey: #777777;
$palette-dark: #444444;
$palette-darker: #222222;
$palette-black: black;
$palette-accent: #00bfc9;

$palette-error-light: #fbf1f0;
$palette-error-dark: #c64637;

$palette-console: #0d1323;

$palette-badge-background: #eeeeee;

$palette-shadow-default: rgba($palette-medium, 0.8);
$palette-shadow-light: rgba($palette-light, 9);
