@mixin hide-and-animate($duration: $animation-duration-default) {
  visibility: hidden;
  opacity: 0;
  // visibility waits for opcity's transition to complete
  transition: visibility 0 linear $duration, opacity $duration;
}

@mixin display-and-animate($duration: $animation-duration-default) {
  visibility: visible;
  opacity: 1;
  transition: opacity $duration linear;
}

@mixin z-level($key) {
  z-index: map-get($z-index-levels, $key);
}

@mixin reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
