/* transitions */
$animation-duration-default: 0.2s;
$transition-default-tail: $animation-duration-default ease-in-out;
$transition-default-all: all $transition-default-tail;

// Sizing

$baseline: 7px;
$spacer: $baseline * 2;
$font-size-default: $baseline * 2;
$font-size-small: $baseline * 1.5;

// Buttons
$border-radius-default: 3px;

$icon-dimension-default: 24px;

$z-index-levels: (
  -1: -1,
  1: 100000,
  2: 200000,
  3: 300000,
  4: 400000,
  5: 500000,
);

// Responsivity

$mobile-break-point: 500px; // Same as in globals.js
